* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    line-height: 1.5;
}

body {
    padding-bottom: 30%;
    background-color: #FCFAFA;
}

header {
    background-color: #2e2b75;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 2%;
    font-size: 1.2em;
}

h1 {
    font-size: 1.1em;
    padding-top: 5%;
    margin-top: 0;
    padding-bottom: 0;
}

h2 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 900;
    color: #2d3945;
}

.border {
    border-top: 5px solid #2d3945;
    padding: .7% 0;
    color: #2d3945;
    border-bottom: 3px solid #2d3945;
}

main {
    padding: 5%;
}

.intro-section p {
    text-align: center;
    color: #768593;
    font-size: .90em;
    padding-bottom: 5%;
}

#form {
    margin-top: 1%;
    text-decoration: none;
    padding-top: 10%;
}

legend {
    font-size: 1.1em;
    font-weight: 900;
}
fieldset {
    border: none;
    padding-left: 0;
    padding-right: 0;
}

#contact-info {
    border-bottom: 3px solid #2d3945;
    padding-bottom: 10%;
}

#contact-info label {
    color: #768593;
    display: block;
    padding: 3%;
}

.contact-info input {
    display: block;
}

textarea::placeholder {
    text-align: start;
}

::placeholder {
    text-align: right;
    font-style: italic;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    height: auto;
    margin: 0;
    outline: none;
    padding: 5%;
    width: 100%;
    border-radius: 5%;
    background-color: #eff0f1;
    border: none;
    color: #8a97a0;
}

#zip {
    width: 50%;
}
 
.news-info label {
    color: #768593;
    display: inline-block;
    padding: 3%;
}

.news-text {
    text-align: left;
    color: #768593;
    font-size: .90em;
    padding-bottom: 5%;
}

button {
    background-color: #4ebbb5;
    color: #fff;
    width: 100%;
    padding: 5% 10%;
    font-size: 1.1em;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
}

footer {
    text-align: center;
    font-style: italic;
    color: #c7cacd;
    margin: 0;
    font-size: .90em;
}

button:hover {
    cursor: pointer;
    background-color: #2d3945;
}

button:focus {
    background-color: #2d3945;
}

input:focus,
select:focus,
textarea:focus {
    border-bottom: 2px solid #4ebbb5;
    transition: all 1s ease-out;
}
   

@media screen and (min-width: 768px) {
    .contact {
        display: flex;
        flex-direction: row;
    }

    .contact input,
    .contact select {
        flex-basis: 75%;
        margin-bottom: 3%;
    }
    .contact label {
        flex-basis: 25%;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
        padding: 3%;
    }
    #zip {
        flex-basis: 25%;
    }
    button {
        padding: 3% 0;
    }
}